@model online_recharge_system.Models.AdminLogin
@using online_recharge_system.Controllers;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SIGN IN</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container col-md-3 text-center">
        <form class="form-sign" method="get">
            <center>
                <img class="mb-4" src="/images/teamlogo.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">SIGN IN</h1>
                <label for="admin_name" class="sr-only">Email address</label>
                <input type="text" id="admin_name" name="admin_name" class="form-control" placeholder="User name" required="" autofocus="">
                <br />
                <label for="admin_password" class="sr-only">Password</label>
                <input type="password" id="admin_password" name="admin_password" class="form-control" placeholder="Password" required="">
                <br />
                <button class="btn btn-primary" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">© 2020-2021</p>
            </center>
        </form>
    </div>
    <footer>
    </footer>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>