
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<section>
    <div class="container-fluid" style="background-color: #6247aa;background-image: linear-gradient(316deg, #6247aa 0%, #a594f9 74%);">
        <h2 class="align_center text-white"> What is RPay ?</h2>
        <p class="align_center tx_18 text-accent-4 text-white">
            Welcome to RPay !!  Here is a basic guide to get you started.
            <br /><br />
            <span> RPay is India’s largest mobile Recharge platform. We help you to recharge your mobile at zero cost using the RPay Wallet. </span>.

        </p>

        <h2 class="align_center text-white"> How to Add Money to Wallet ?</h2>
        <p class="align_center tx_18 text-accent-4 text-white">
            Rpay users can add money to their RPay Wallets in a few easy clicks.
            <br /><br />
            <span>Sign In. Tap on the ‘Add Money’ option on the RPay app home screen, enter the amount and pay using Debit/Credit Cards. </span>.
        </p>
    </div>
    <div class="container-fluid" style="background: linear-gradient(to left, #1a2980, #26d0ce);">
        <h2 class="align_center text-white"> Our Partners</h2>
        <section>
            <div id="products" class="home_products pd_bt_sm">
                <div class="container">
                    <ul>
                        <li>
                            <div class="products_lists bg-light" style="margin-left: auto; margin-right: auto; text-align: center">
                                <div class="products_lists_logo"><img src="~/images/Jio1.png" height="100px; " alt="Jio"></div>
                                <span></span>
                                <p></p><br/><br/><br/>
                                <a class="cta_border" href="https://www.jio.com/index.html" target="_blank" rel="noopener noreferrer">Learn More</a>
                            </div>
                        </li>

                        <li>
                            <div class="products_lists bg-light" style="text-align: center">
                                <div class="products_lists_logo"><img src="~/images/Vi.jpg" height="100px;" alt="Vodafone idea "></div>
                                <br/><br/><br/><br/><br/>
                                <a class="cta_border" href="https://www.myvi.in/" target="_blank" rel="noopener noreferrer">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="products_lists bg-light" style="text-align: center">
                                <div class="products_lists_logo"><img src="~/images/airtel.png" height="100px;" alt=" Airtel "></div>
                                <br/><br/><br/><br/><br/>
                                <a class="cta_border" href="https://www.airtel.in/" target="_blank" rel="noopener noreferrer">Learn More</a>
                            </div>
                        </li>
                        <li>
                            <div class="products_lists bg-light" style="text-align: center">
                                <div class="products_lists_logo"><img src="~/images/bsnl-logo.jpg" height="100px;" alt="BSNL"></div>
                                <br/><br/><br/><br/><br/>
                                <a class="cta_border" href="https://www.bsnl.co.in/" target="_blank" rel="noopener noreferrer">Learn More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>
<div style="text-align: center; background: linear-gradient(to left, #800080, #ffc0cb);">
    <img src="~/images/Money_Safe.PNG" />
</div>
<section class="container-fluid" style=" background: linear-gradient(to left, #ff416c, #ff4b2b);">
    <div class="section_small home_client_speaks pd_tp_xs bg-danger col-lg-10">
        <div class="container">
            <br />
            <h2 class="align_center text-white">Meet Our Founders</h2>
            <div class="col-4-1 alert-light">
                <div class="cus_casestudy_small">
                    <div class="cus_casestudy_small_pic"><img src="~/images/naveeth.jpeg" alt="cus"></div>
                    <div class="cus_casestudy_name">
                        <br /><br />
                        <h3 style="font-size: medium; font-weight: bold" class="text-dark">Naveeth Z A</h3>
                        <p class="text-dark">
                            Software Developer Intern <br /> Kovai.co
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4-2 alert-light">
                <div class="cus_casestudy_small">
                    <div class="cus_casestudy_small_pic"><img src="~/images/sara.JPG" alt="cus"></div>
                    <div class="cus_casestudy_name">
                        <br /><br />
                        <h3 style="font-size:medium;font-weight:bold" class="text-dark"> Saravana Kumar(Mr.WhiteHost)</h3>
                        <p class="text-dark">
                            Software Developer Intern <br /> Kovai.co
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4-3 alert-light">
                <div class="cus_casestudy_small">
                    <div class="cus_casestudy_small_pic"><img src="~/images/raja.jpeg" alt="cus"></div>
                    <div class="cus_casestudy_name">
                        <br /><br />
                        <h3 style="font-size:medium;font-weight:bold" class="text-dark">Rajagurunathan Manikandan</h3>
                        <p class="text-dark">
                            Software Developer Intern <br /> Kovai.co
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div style="text-align: center;background: linear-gradient(to left, #4776e6, #8e54e9);">
    <img src="~/images/Numbers.png" />
</div>






