@model IEnumerable<AdminDashBoard.Models.Operator>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_adminLayoutNew.cshtml";
}
<html>

<head>
    <style>
        .back {
            background-image: url('https://img.freepik.com/free-photo/white-gray-studio-background_28629-814.jpg?size=626&ext=jpg&ga=GA1.2.954746853.1562386951');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-attachment: fixed;
        }
    </style>
</head>
<body class="back">


    <br />
   

   


    
        <br />

        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align:center"> JIO </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-swap-opacity fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1"></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align:center">AIRTEL</div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1"></div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" style="text-align:center"> Vi (Vodafone Idea)</div>
                                    </div>
                                   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"> </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800" style="text-align:center" > BSNL</div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <center>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card-body" style="width:2000px">
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-2">
                        <div class="card shadow mb-3">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary"> Users Percentage Ratio</h6>
                            </div>
                            <div class="card-body">
                                <h4 class="small font-weight-bold"> Jio  <span class="float-right">45%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold"> Airtel <span class="float-right">30%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold"> Vi (Vodafone Idea) <span class="float-right">15%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <h4 class="small font-weight-bold"> BSNL <span class="float-right">10%</span></h4>
                                <div class="progress mb-4">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                               
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </center>
   
   
</body>
</html>
